.App {
  text-align: center;
  max-width: 1440px;
  align-items: center;
  margin: 0 auto;
}


.MainMenu {
  background-color: #003F62;
  color: white;
}

.top-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  gap: 400px;

}

.top-right {
  display: flex;
  gap: 2rem;
}

.Container {
  padding-bottom: 20px;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;


}

.searchField input {
  width: 438px ;
}

.searchField input, button{
  overflow: visible;
  position: relative;
  cursor: pointer;
  padding:17.5px ;
}

.login-left {
  display: flex;
  gap: 20px;
}

.carousel {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  height: 394px;
  gap: 200px;

}

.carousel-left {
  margin-top: 100px;
  position: relative;
}

.carousel-title {
  color: #1B5A7D;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 64px;
}

.carousel-image {
  width: 331px;
  height: 250px;
}

.carousel-button1 {
  background-color: #EDA415;
  border-radius: 20px;
  width: 144px;
  height: 61px;
  color: white;
  border-style: none;
  margin-right: 20px;
}

.carousel-button2 {
  border-color: #316887;
  border-radius: 20px;
  width: 144px;
  height: 61px;
  color: #316887;
  background-color: white;
  
  
}

.FirstCarousel .alice-carousel__prev-btn-wrapper, .alice-carousel__next-btn-wrapper {
  display: none;
}


.FirstCarousel .alice-carousel .alice-carousel__dots {
  position: absolute;
  bottom: 150px;
  left: 320px;
}

.alice-carousel__dots-item:not(.__custom).__active {
  background-color: #EDA415;
  height: 16px;
  width: 16px;
}

.alice-carousel__dots-item:not(.__custom) {
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e0e4fb;
}

/* .inner-box .alice-carousel .alice-carousel__dots {
  display: none;
} */

.inner-box .alice-carousel .alice-carousel__prev-btn-item {
  position: absolute;
  left: 0;
  bottom: 280px;
  background-color: #EAEAEA;
  border-radius: 500px;
  width: 37px;
  height: 37px;
  align-items: center;
  
}

.inner-box .alice-carousel .alice-carousel__next-btn {
  position: absolute;
  right: 0;
  bottom: 280px;
  background-color: #9f2a2a;
  border-radius: 500px;
  width: 37px;
  height: 37px;
  align-items: center;
  color: #e0e4fb;
  
}