body {
  font-family: "Poppins", sans-serif;
}

.App {
  max-width: 1440px;
  align-items: center;
  margin: 0 auto;
}

.MainMenu {
  background-color: #003f62;
  color: white;
}

.top-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  gap: 400px;
}

.top-right {
  display: flex;
  gap: 2rem;
}

.Container {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchField input {
  width: 306px;
  height: 56px;
  border-radius: 20px 0 0 20px;
}

.searchField input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "Poppins", sans-serif;
  color: #292D32;
  padding-left: 20px;
}
.searchField button {
  background-color: #eda415;
  border-radius: 20px;
  border-style: none;
  color: white;
  cursor: pointer;
  padding: 17.5px;
  width: 132px;
  height: 56px;
  font-weight: 600;
}

.menu .return {
  font-size: 16px;
  font-weight: 700;
  color: #003f62;
}

.login-left {
  display: flex;
  gap: 20px;
}

.carousel {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  height: 394px;
  gap: 200px;
}

.carousel-left {
  margin-top: 100px;
  position: relative;
}

.carousel-title {
  color: #1b5a7d;

  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 64px;
}

.carousel-image {
  width: 331px;
  height: 250px;
}

.carousel-button1 {
  background-color: #eda415;
  border-radius: 20px;
  width: 144px;
  height: 61px;
  color: white;
  border-style: none;
  margin-right: 20px;
}

.carousel-button2 {
  border-radius: 20px;
  width: 144px;
  height: 61px;
  color: #316887;
  background-color: white;
}

.FirstCarousel .alice-carousel__prev-btn {
  display: none;
}

.FirstCarousel .alice-carousel__next-btn {
  display: none;
}
.FirstCarousel .alice-carousel__next-btn-wrapper {
  display: none;
}

.FirstCarousel .alice-carousel .alice-carousel__dots {
  position: absolute;
  bottom: 150px;
  left: 320px;
}

.miniCarousel {
  display: flex;
  border: 1px solid #d0cbcb;
  border-radius: 30px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.miniImage {
  width: 150px;
  height: 150px;
}

/* popular product tab  */

.nav .nav-link {
  color: #1b5a7d ;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px ;
}

/* .nav-pills .nav-link.active{
  color: #1b5a7d ;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 30px ;
  background-color: none;
} */

/* popular products */

.popular {
  width: 350px;
  height: 350px;
}

.pop-items {
  flex-wrap: wrap;
}

.pop-title {
  font-size: 17px;
  font-weight: 500;
  color: #003f62;
}

.pop-price {
  font-size: 17px;
  font-weight: 600;
  color: #4a4a4a;
}
.pop-bottom {
  position: relative;
}
.pop-cart {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 50px;
  right: 20px;
  background-color: #eda415;
  border-radius: 491px;
  color: white;
  padding: 5px;
}

.pop-top {
  position: relative;
}
.pop-like {
  background-color: #b3d4e5;
  border-radius: 122.4px;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  padding: 7px;
}

.pop-image {
  width: 180px;
  height: 170px;
  padding: 5px;
}

.popular-prods .alice-carousel__prev-btn {
  display: none;
}

.popular-prods .alice-carousel__next-btn {
  display: none;
}
.popular-prods .alice-carousel__next-btn-wrapper {
  display: none;
}

.sale {
  background-image: url(../public/images/sale-banner.png);
  height: 417px;
  background-size: cover;
  position: relative;
  border-radius: 20px;
  margin: 60px 0;
}

.sale-text {
  top: 91px;
  right: 149px;
  position: absolute;
  text-align: center;
}

.sale button {
  background-color: orange;
  border-radius: 20px;
  color: white;
  border-style: none;
  padding: 10px 30px;
}

.sale h1 {
  color: #2e8fc5;
  font-weight: 700;
  margin: 15px 0;
}

.sale p {
  font-size: 18px;
  color: white;
}

.speaker-text button {
  background-color: #87bcd9;
  border-radius: 20px;
  border-style: none;
  width: 205px;
}

.warranty {
  background-color: #e2f4ff;
  height: 155px;
  border-radius: 20px;
  margin: 100px 0;
}

.warranty .d-flex {
  margin-left: 60px;
}

.warranty img {
  width: 47px;
  height: 56px;
  margin-top: 50px;
}
.warranty-text {
  width: 350px;
  align-self: center;
  color: #003f62;
  justify-content: center;
}

.warranty-text p {
  font-weight: 600;
  font-size: 22px;
  margin: 0;
}
.warranty-text a {
  font-weight: 400;
}

.profiles {
  padding: 20px;
  padding-bottom: 0;
}

.profiles p {
  background-color: #e2f4ff;
  color: #003f62;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  border-radius: 19px;
  padding: 20px;
  margin-top: 20px;
}

.profiles a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
  color: #003f62;
}

.logos {
  background-color: #e2f4ff;
  height: 136px;
  padding: 47px;
}

.wish {
  position: absolute;
  width: 400px;
  right: 50px;
  background-color: #87bcd9;
}

.liked {
  position: absolute;
  color: red;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.section-title {
  font-size: 25px;
  font-weight: 600;
  color: #1b5a7d;
  text-decoration: none;
}

.more-link {
  font-size: 20px;
  font-weight: 500;
  color: #1b5a7d;
  text-decoration: none;
}

.latest-rightside p {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #003f62;
}

.footer {
  background-color: #e2f4ff;
}

.footer-top a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: #1b5a7d;
  line-height: 44px;
}

.footer-top .input-group {
  background-color: #eda415;
  height: 63px;
  border-radius: 20px;
  padding: 0 20px;
  width: 388px;
}

.input-group .input {
  border-style: none;
  border: none;
  background: none;
}
.input-group .input::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.footer-top button {
  border-style: none;
  border: none;
  background: #eda415;
  border-radius: 20px;
}

.footerleft p {
  font-size: 16px;
  font-weight: 400;
  color: #1b5a7d;
  width: 190px;
  margin: 40px 0;
}

.footerright h5 {
  font-weight: 600;
  color: #1b5a7d;
}

.footerright li {
  font-size: 20px;
  font-weight: 400;
  color: #1b5a7d;
  padding-bottom: 15px;
}

.footerright li::marker {
  color: #d9d9d9;
}